@()

@main("Bosh sahifa") {

    @navbar("index")

    @main("Welcome to Play") {
        <div class="container">
            <h2 class="text-center">Mening maktabim!</h2>
        <div class="row">
            <div class="col-xs-3">
                <div class="nav nav-sidebar">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </div>
            </div>
            <div class="col-xs-6">
            @carousel("carusel")
            </div>
            <div class="col-xs-3">
                <div class="nav nav-sidebar">
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                    <li><a>Link</a></li>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <h3>Xorazm viloyati Shovot tumanidagi 49-sonli ixtisoslashtirilgan
                    <h3>umumiy o'rta ta'lim maktabi</h3>
                </h3>
            </div>
        </div>
    </div>
    }
}