@()

@main("Bosh sahifa") {


    <div class="container text-center">
        <h2 class="block">
        Shovot tumanidagi 49-aniq fanlarga ixtisoslashtirlgan umumiy o'rta ta'lim maktabi
        </h2>
        <img  class="img-responsive" src="@routes.Assets.at("images/rasm6.jpg")">
        @navbar("index")
            <div class="jumbotron top">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="nav nav-sidebar">
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-center">
                            <h3>Xorazm viloyati Shovot tumanidagi 49-sonli ixtisoslashtirilgan
                                <h3>umumiy o'rta ta'lim maktabi</h3>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="nav nav-sidebar">
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                            <li><a>Link</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}