@(pupils: List[ClassPupil])

@main("Home") {

    @navbar("list")

    <div class="container main-content">

        <h1 class="text-center">Mening maktabim.</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ism</th>
                    <th>Familiya</th>
                    <th>Class</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @for(pupilMT <-pupils ) {
                <tr>
                    <td>@pupilMT.pupil.ism</td>
                    <td>@pupilMT.pupil.familiya</td>
                    <td>@pupilMT.className</td>
                    <td>
                        <a href="@routes.Pupils.showEditForm(pupilMT.pupil.id.get)">
                            <button class="btn btn-warning">Edit</button>
                        </a>
                        <a href="@routes.Pupils.remove(pupilMT.pupil.id.get)">
                            <button class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}